h1 Update #{organisation_name} Profile

body
    h5 Please fill the information you would like to update.

    form(action=id, method='POST')
        label Organisation Name:
        br
        input(name='organisation_name' type='name' value=organisation_name)
        br
        br
        label Officer's Name:
        br
        input(name='officer_name' type='name' value=officer_name)
        br
        br
        label Contact Number:
        br
        input(name='contact_number' type='number' value=contact_number)
        br
        br
        label Email:
        br
        input(name='email' type='email' value=email)
        br
        br
        label Password:
        br
        input(name='password' type='password' value=password)
        br
        button(value='Submit' type='submit') Update
